* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.game-board {
    width: 100%;
    height: 100vh;
    border-bottom: 15px solid #007A04;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    background: linear-gradient(#87CEEB, #E0F6FF);
}

.pipe {
    position: absolute;
    bottom: 0;
    width: 200px;
    right: 50%;
}

@keyframes pipe-animation {
    from {
        right: -60px;
    }
    to {
        right: 100%;
    }
}

.explosion {
    position: absolute;
    width: 300px;
    pointer-events: none;
    z-index: 200;
    bottom: 0;
    display: flex;
}


.mario {
    position: absolute;
    bottom: 0;
    width: 100px;
    height: 100px;
    z-index: 1;

    background-image: url("../images/mario.gif");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: bottom left;
}

.mario::after {
    content: "";
    position: absolute;
    width: 120px;
    height: 140px;
    background-image: url(../images/ak477.gif);
    background-size: contain;
    background-repeat: no-repeat;
    top: 7px;
    left: 40px;
    z-index: 10;
    pointer-events: none;
}

.bullet {
    position: absolute;
    width: 100px;
    pointer-events: none;
    z-index: 20;
}


.jump {
    animation: jump 500ms ease-out;
}

@keyframes jump {
    0% {
        bottom: 0;
    }
    40% {
        bottom: 180px;
    }
    50% {
        bottom: 180px;
    }
    60% {
        bottom: 180px;
    }
    100% {
        bottom: 0;
    }
}

.clouds {
    width: 550px;
    position: absolute;
    animation: clouds 15s infinite linear;
}

@keyframes clouds {
    from {
        right: -600px;
    }
    to {
        right: 100%;
    }
}

.restart {
    z-index: 99999;
    display: none;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
}

.restart-content {
    height: 300px;
    width: 500px;
    border-radius: 20px;
    background-color: white;
    animation-name: fade-in;
    animation-duration: 1s;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: black 1px solid;
}

.restart-button {
    width: 80%;
    background: linear-gradient(green, white, green);
    margin-bottom: 18px;
    border-radius: 25px;
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 15px;
    cursor: pointer;
}

.credit-button {
    width: 80%;
    background: linear-gradient(green, white, green);
    margin-bottom: 18px;
    border-radius: 25px;
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 15px;
    cursor: pointer;
}

.guns {
    display: inline-flex;        /* coloca um do lado do outro */
}

.guns .gif {
    display: block;             /* tira espaço embaixo do img */
    margin: 0;                  /* garante que não tem espaço entre eles */
}
