* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.game-board {
    width: 100%;
    height: 100vh;
    border-bottom: 15px solid #007A04;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    background: linear-gradient(#87CEEB, #E0F6FF);
}

.pipe {
    position: absolute;
    bottom: 0;
    width: 60px;
    animation: pipe-animation 1.5s infinite linear;
}

@keyframes pipe-animation {
    from {
        right: -60px;
    }
    to {
        right: 100%;
    }
}

.mario {
    width: 100px;
    position: absolute;
    bottom: 0;
}

.jump {
    animation: jump 500ms ease-out;
}

@keyframes jump {
    0% {
        bottom: 0;
    }
    40% {
        bottom: 180px;
    }
    50% {
        bottom: 180px;
    }
    60% {
        bottom: 180px;
    }
    100% {
        bottom: 0;
    }
}

.clouds {
    width: 550px;
    position: absolute;
    animation: clouds 15s infinite linear;
}

@keyframes clouds {
    from {
        right: -600px;
    }
    to {
        right: 100%;
    }
}

.restart {
    z-index: 99999;
    display: none;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
}

.restart-content {
    height: 300px;
    width: 500px;
    border-radius: 20px;
    background-color: white;
    animation-name: fade-in ;
    animation-duration: 1s;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.restart-button{
    width: 80%;
    background: linear-gradient(green, white, green);
    padding-bottom: 30px;
}
